* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url('../img/background.jpg');
  background-size: cover;
}
.content {
  width: 100%;
  margin: 100px auto;
}
.btn-crazy {
  position: relative;
  left: 30%;
  top: 60%;
  transition: 0.5s ease all;
  text-align: center;
  padding: 10px 20px;
  background-color: red;
  border-radius: 5%;
  border: none;
  color: #fff;
}

.btn-green {
  background-color: green;
}
.btn-pink {
  background-color: pink;
}
.btn-yellow {
  background-color: yellow;
}
.btn-black {
  background-color: black;
}
